/* ---- reset ---- */ 
body 
{
    margin:0;
    font:normal 75% Arial, Helvetica, sans-serif; 
} 
canvas {
    display: block;
    vertical-align: bottom;
} 
/* ---- particles.js container ---- */
#particles-js { 
    position: absolute;
    top:0;
    width: 100%;
    height: 550px;
    background-color: #fffcfc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
} 
.heroImage {
    left:35%;
    top:20%;
    position: absolute;
}
.heroImage img {
    width:70%;
}
/*
.navBar {
    position: absolute;
    top:10%;
    left:45%;
    transform:translate(-40%,-40%);
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    display:inline-block;
    padding:10px 20px 10px 20px;
    margin: 10px 10px 0 10px;
    font-size: 18px;
} */

/*fjagdvbjvevbbnm,,,,,,,,,,*/
.list-social {
  display: flex;
  list-style: none;
  width: 30%;
}
.list-social__item {
  position: absolute;
  flex-grow: 1;
  animation-duration: 0.75s;
  animation-fill-mode: both;
  animation-name: bounceIn;
}
.link {
  display: inline-block;
  height: 6.5rem;
  width: 6.5rem;
  border-radius: 50%;
}
.link:focus, .link:hover {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: bounce;
}
.item--twitter {
    right:12%;
    top:25%;
  animation-delay: 0.33333s;
}
.item--twitter .link {
  background-color: #de88d4;
}
.item--fb {
  left:16%;
    top:50%;
  animation-delay: 0.66667s;
}
.item--fb .link {
  background-color: #de88d4;
}
.item--gplus {
    left:25%;
    top:10%;
  animation-delay: 1s;
}
.item--gplus .link {
  background-color: #de88d4;
}
.item--linkedin {
    right:19%;
    top:60%;
  animation-delay: 1.33333s;
}
.item--linkedin .link {
  background-color: #de88d4;
}
.item--slides {
    right:30%;
    top:0.1%;
  animation-delay: 1.66667s;
}
.item--slides .link {
  background-color: #de88d4;
}
@keyframes bounce {
  from, 0%, 40%, 60%, 100% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355);
  }
  0% {
    transform: scale3d(1, 1, 1);
  }
  40% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  60% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  100% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
}
.list-social a {
    padding-top:40px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size:22px;
}

