@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    width:100%;
    height: auto;
    padding: 0;
    margin: 0;
    
}
header,.fHeading,p {
    font-family: 'Raleway';
}
canvas {
    width:100%;
    height:725px;
    position: absolute;
    background-size: cover;
}
body::-webkit-scrollbar {
    width: 0.6em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #9C0B4D;
  outline: 1px solid #aaa;
  border-radius: 10px;
}

.hidden {
     opacity:0;
}
.visible {
     opacity:1;
}
.hName {
    position: absolute;
    color: #fff;
    font-size:20px;
    top:20px;
    margin-left: 50px;
    display: inline;
}
.hList {
    position: absolute;
    display:inline-block;
    margin-left: 50%;
    
}
.hList ul {
    list-style-type: none;
}
.hList li {
    display: inline-block;
    color:#fff;
    padding:15px;
}
.hList a {
    text-decoration: none;
    color:#fff;
    font-size:21px;
    margin-right: 15px;
}
.hList a::before {
    position: absolute;
    content: '';
    width:15px;
    height:3px;
    background-color: #9C0B4D;
    bottom: 10px;
    transition: all .3s linear;
}

.hList a:hover::before {
    width:80px;
}
.mBar {
    display: inline-block;
    margin-left: 25px;
    cursor: pointer;
}
.hamburger {
    position: absolute;
    top:20px;
    right:150px;
    width:30px;
    height:35px;
    border-left: 3px solid #fff;
    transition: all .3s linear;
    z-index: 11;
}
.hamburger::before,.hamburger::after {
    content: '';
    position: absolute;
    background: #fff;
}
.hamburger::before {
    width:25px;
    height:3px;
    top:15px;
    left:2px;
    transition: all .3s linear;
}
.hamburger::after {
    width:3px;
    height:35px;
    left: 30px;
    transition: all .3s linear;
}
.hamburger:hover {
    border-left: none;
    border-top: 3px solid #fff;
    width:35px;
}
.hamburger:hover::before {
    width:35px;
    top:8px;
    left:0;
}
.hamburger:hover::after {
    transform:rotate(-90deg);
    left:15.5px;
    top:3px;
}

.fHeading {
    position: absolute;
    margin-left: 60px;
    margin-top:60px; 
}
.fHeading h2{
    color: #fff;
    font-size:6.0rem;
    text-shadow: 0 5px 20px #0f0219;    
}
.fLine {
    position: absolute;
    width:300px;
    height:20px;
    cursor:pointer;
    top:80%;
}
.fLine::after,.fLine::before {
    content:"";
    position:absolute;
    height:5px;
    border-radius:2px;
    background-color: #9C0B4D;
}
.fLine::before {
    width:300px;
}
.fLine::after {
    width:120px;
    top: 15px;
    left:30px;
    transition: all .3s linear;
}
.fLine:hover::after {
    left:0;
}
.fText {
    position: absolute;
    top:400px;
    margin-top:30px;
    margin-left:65px;
}
.fText p {
    color: #fff;
    font-family: 'Raleway';
    font-size:21px;
}


.sLinks {
    position: absolute;
    background: linear-gradient(to bottom right, #ba1e65, #2b135d);
    width: 900px;
    height: 900px;
    border-radius: 50%;
    z-index: 1;
    transform: translate(1200px,-900px);
    transition: all 0.5s linear;
}

.sLinks p {
    color: #fff;
    text-align: center;
    font-size: 30px;
}

.sLinks ul {
    list-style-type: none;
}

.sLinks li {
    text-align: center;
    padding: 20px;
}

.sLinks a:hover {
    text-decoration: underline;
}

.sLinks a {
    font-family: 'Raleway' , sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}

.hActive, .hActive:hover {
    border: none;
}
.hActive::before , .hActive:hover::before {
    transform: rotate(45deg);
    width: 35px;
}
.hActive::after , .hActive:hover::after{
    transform: rotate(45deg);
    left: 18px;
    height: 35px
}
.hActive:hover::before {
    top: 15px;
     left: 7px;
}
.hActive:hover::after {
    top: 0;
     left: 23px;
}



.about {
    margin-top:700px;
    width:100%;
    height:700px;
    background: #170738;
    overflow: hidden;
}
.aHeading, .sHeading, .wHeading {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.aHeading h2,.sHeading h2, .wHeading h2{
    font-family: 'Raleway', sans-serif;
    font-size: 4.5rem;
    font-weight: bolder;
    color:#fff;
}
.aBox {
    width:70%;
    height:500px;
    margin-left:auto;
    margin-right: auto;
    background:#d9f7ff;
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.65), 5px 5px 15px rgba(0, 0, 0, 0.28);
    transition: all .3s linear;
}
.aBox p {
    font-family: 'Raleway' , sans-serif;
    margin: auto;
    float:right;
    width:80%;
    text-align: justify;
    padding:50px;
    font-size:22px;
    word-spacing: 7px;
    line-height:35px;
}
.aPic {
    position: absolute;
    left:0;
}
.aPic img {
    max-width:80%;
    height:auto;
}


.skills, .work {
    width:100%;
    background: #170738;
    padding-bottom: 20px;
}
.icons {
    width:80%;
    margin-right: auto;
    margin-left: auto;
}
.icon {
    display: inline-block;
    padding:25px;
    padding-bottom: 0;
    margin : 10px;
}

.icon img {
    filter: invert(100%);
    background-repeat: no-repeat;
}
.icon span {
    display: block;
    color: #fff;
    text-align: center;
    font-family: monospace;
    font-size: 16px;
}

.skills {
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.work {
    width: 100%;
}

.image-slide {
    display: inline-block;
    width:60%;
    height:400px;
    background: #111;
    animation: scalee 0.7s ease-in 0s 1;
    box-shadow: 16px 16px 40px rgba(0,0,0,.64);
    animation-fill-mode: forwards;
}

.image1, .image2, .image3 {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-image: url(../images/avs.png);
    background-size: 100% 100%;
}

.image2 {
    background-image: url(../images/srnet.png);
}
.image3 {
    background-image: url(../images/rr.png);
}

.image-cover {
    width:100%;
    height: 100%;
    background: #9C0B4D;
    animation: slidee 1.2s ease-in 0s 1;
    animation-fill-mode: forwards;
}

.image-border {
    transform: translateX(800px);
    width :0%;
    height: 100%;
    background: #170738;
    animation: along 1.2s linear 0s 1;
    animation-fill-mode: forwards;
}

@keyframes slidee {
    from {
        width:100%;
    }
    to {
        width:0%;
    }
}
@keyframes along {
    0% {
        transform: translateX(800px);
    }
    25% {
        width:20%;
    }
    50% {
        width: 40%;
    }
    75% {
        width: 70%;
    }
    100% {
        width: 0%;
        transform: translateX(60px);
    }
}
@keyframes scalee {
    from {
        transform: scale(0.5) translateX(-600px);
    }
    to {
        transform: translateX(60px) scale(1);
    }
}
@keyframes scalee2 {
    from {
        transform: scale(0.5) translateX(-600px);
    }
    to {
        transform: translateX(10px) scale(1);
    }
}



.work-info1, .work-info2, .work-info3 {
    position: absolute;
    display: inline-block;
    width:35%;
    color: #fff;
    box-shadow: 16px 16px 40px rgba(0,0,0,.64);
    padding: 20px;
    transform: translateY(30px);
    transition: all 0.3s linear;
}

.work-info1:hover, .work-info2:hover, .work-info3:hover {
    background: #170738;
    box-shadow: none;
} 

.work-info1 p, .work-info2 p, .work-info3 p {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    word-spacing: 3px;
}
.work-head {
    display: inline-block;
    position: absolute;
    box-shadow: 16px 16px 40px rgba(0,0,0,.64);
    color: #fff;
    font-size: 26px;
    transform: translate(200px, 310px);
    width: 200px;
    border: 2px solid transparent;
    cursor: pointer; 
    text-decoration: none;
    transition: all 0.3s linear;
}
.work-head:hover {
    box-shadow: none;
    border: 2px solid #9C0B4D;
}
.work-head p {
    text-align: center;
}
.work-block1 , .work-block2, .work-block3 {
    width: 100%;
    height: 600px;
}

.last {
    width: 100%;
}
.last img {
    width: 100%;
}

.contact {
    width: 75%;
    margin: auto;
    /*border: 3px solid #170738;*/
    box-shadow: 0px 6px 30px rgba(0,0,0,.64);
    padding: 20px 50px;
    margin-top: 15px;
}

form {
    width: 60%;
    margin: 50px 0;
    display: inline-block;
}

.abs {
    display: inline-block;
    width: 35%;
    height: 350px;
    border-radius: 15px;
}
.abs img {
    max-width: 100%;
}


.button {
    width:150px;
    background: #fff;
    border: 3px solid #9C0B4D;
    padding:15px;
    cursor: pointer;
    transition: all 0.3s linear;
    color: #9C0B4D
}
.button[value=Send] {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}
.button:hover {
    background-color: #9C0B4D;
    color: #fff;
}

.cHead {
    margin: auto;
}



.cHead p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}

.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
input, textarea	{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #170738;
}
textarea	 {
    width: 60%;
}

input:focus,	{ outline:none; }

/* LABEL ======================================= */
label {
  color:#999; 
  font-size:18px;
  font-family: 'Raleway', sans-serif;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.message {
    top: -20px;
}
textarea:focus, input:focus {
    outline: none;
}
/* active state */
input:focus ~ label, input:valid ~ label		{
  top:-20px;
  font-size:14px;
  color:#9C0B4D;
}

/* BOTTOM BARS ================================= */
.bar 	{ 
    position:relative; 
    display:block; 
    width:300px;
}

.bar:before, .bar:after  {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#9C0B4D; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.bar:before {
  left:50%;
}

.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}
textarea:focus ~ .bar:after {
  width:50%;
}
textarea:focus ~ .bar:before {
    width: 100%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight, textarea:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

footer {
    width: 100%;
    height: 80px;
    background-color: #170738;
    margin-top: 100px;
}
footer p {
    text-align: center;
    padding: 25px;
    color: #fff;
    font-size: 18px;
}
